[submodule "pgoapi/lib_0_45"]
	path = pgoapi/lib_0_45
	url = https://github.com/pokelibs/pgoapi-libs
[submodule "pgoapi/lib_0_51"]
	path = pgoapi/lib_0_51
	url = https://github.com/pokelibs/pgoapi-libs
	branch = 51updates
